@media screen and (max-width: 600px) {
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 80px;
  }
  h3 {
    font-size: 30px;
    margin-left: 2%;
  }
  p {
    font-size: 12px;
    margin-left: 5%;
  }
  img {
    display: block;
    margin: 50px auto 20px auto;
    width: 70%;
  }
}
/* ------------------------------*/
